*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #e7e9ed;
  padding-bottom: 80px;
}

.container{
  &.container-fixed {
    max-width: 112rem;
  }
}


[ng-cloak] {
  display: none;
}

.header {
  padding: 8px 0;
  background-color: #f8f9fa;
}

.navbar {
  .navbar-brand,
  .btn.btn-link {
    color: #232323;
    display: flex;
    span {
      font-size: 24px;
      display: flex;
      &:last-child {
        margin-left: 6px;
        font-weight: 100;
        font-size: 18px;
      }
    }
  }
  .navbar-brand {
    font-style: italic;
    font-weight: 100;
  }
}

#github-wrapper{
  width: 100%;
  margin-top: 20px;
}

#main {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  border: 1px #e9e9e9 solid;
}

#user-input {
  width: 100%;
  margin: 0;
  padding: 24px;
  font-size: 2rem;
  border: 0.1rem #acb3c2 solid;
}

.user-info,
.user-repos {
  display: flex;
  padding-top: 0;
}

.user-info {
  padding-left: 0;
  justify-content: flex-end;
}
.user-repos {
  flex: 1;
  justify-content: flex-start;
  padding-right: 0;
  .panel {
    background-color: #fff;
    flex: 1;
  }
}

.panel {
  .panel-header,
  .panel-footer {
    background-color: #eff1fa;
  }
  .panel-title {
    font-weight: 300;
    font-size: 2.4rem;
  }
  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
  .panel-footer {
    display: flex;
    justify-content: center;
  }
}
.tile {
  padding: 0.8rem 1.4rem;
  border: 1px #f0f1f4 solid;
  .tile-title {
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.user-info-content,
.user-repos-content {
  background-color: #fff;
  border: 0.1rem #acb3c2 solid;
  flex-direction: column;
  display: flex;
}

.user-info-content {
  flex: auto;
  text-align: center;
  min-height: 400px;
  background-color: #eff1fa;
}
.user-repos-content {
  flex: 1;
}

.user-content-holder {
  margin-top: 20px;
  position: relative;
  display: block;
}

.user-profile-image {
  display: flex;
  justify-content: center;
  background-color: #eff1fa;
  align-items: center;
  flex: 1;
  img {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    opacity: 1;
    border: 8px #fff solid;
    box-shadow: 0 1px 3px #aaa,
      0 3px 5px #999,
      0 -3px 5px #999,
      0 -1px 9px #aaa;
    border-radius: 50%;
    transition: all 300ms linear;
  }
}

.user-profile-info {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
    padding: 0;
  }
  .user-profile-stats {
    padding: 18px 0;
    background-color: #5764c6;
    flex-direction: row;
    display: flex;
    .repos,
    .following,
    .followers {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: #ffffff;
    }
  }
}

.user-profile-title {
  padding-bottom: 40px;
  .username {
    margin-bottom: 20px;
  }
  .bio {
    width: 300px;
    margin: 0 auto 20px;
    line-height: 1.2;
  }
}
.user-profile-stats {
  .repos,
  .following,
  .followers {
    span {
      font-weight: 200;
      font-size: 2.8rem;
    }
    strong {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

.user,
.loader {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.user {
  .container {
    position: relative;
  }
}

.user {
  &.ng-enter {
    animation: fadeIn 300ms ease-in-out;
  }
  &.ng-leave {
    animation: fadeOut 300ms ease-in-out;
  }
}

.loader {
  padding-top: 100px;
  &.ng-enter {
    animation: fadeIn 300ms ease-in-out;
  }
  &.ng-leave {
    animation: fadeOut 300ms ease-in-out;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: block;
  border: 4px #5764c6 solid;
  border-top-color: transparent;
  animation: 600ms rotate infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
}
